.bg-primary {
    background: linear-gradient( rgba(123, 192, 167, 0.87), rgba(31, 105, 114, 0.74)), url(https://www.toptal.com/designers/subtlepatterns/patterns/creampaper.png);
    box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
}

#root {
    margin: 0;
    width: 100%;
}

.container {
    width: 100%;
    padding: 0;
    margin: 0;
}

.hero {
    background-image: url("../img/header.jpg");
    height: 90%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.hero-2 {
    background-image: url("../img/mink-mingle-109837.jpg");
    height: 90%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* opacity: .7;
    /* background: linear-gradient( rgba(31, 105, 114, 0.74), rgba(96, 148, 154, 0.45)), url(https://www.toptal.com/designers/subtlepatterns/patterns/creampaper.png); */
}

.circle {
    width: 200px;
    height: 200px;
    line-height: 200px;
    border-radius: 50%;
    /* the magic */
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    text-align: center;
    color: white;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 700;
    margin: 0 auto 40px;
}

.page-title {
    /* font-family: 'Architects Daughter', cursive; */
    font-family: 'Julius Sans One', sans-serif;
    font-size: 5rem;
    letter-spacing: .2rem;
    text-shadow: 1px 1px 0.5px #161616;
}

.footer-bar {
    text-align: center;
}